body[data-theme="light"] {
    @import '../src/scss/light-slider.scss';
 
    .slider-tab {
       background-color: #FFF4BC;
    }

    #about {
        .polaroid span {
           background:  #FFF4BC;;
        }
        .card {
           background: #FFF4BC;;
        }
     }
}